@model BudgetApp.Models.Invitation

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Invitation</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Household.HouseholdName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Household.HouseholdName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InvitationCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InvitationCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateSent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateSent)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Accepted)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Accepted)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
