@model IEnumerable<BudgetApp.Models.Transaction>

<table id="datatable-transactions" class="table table-striped table-bordered table-responsive">
	<thead>
		<tr>
			<th>Desc.</th>
			<th style="text-align: right;">Amount</th>
			<th>Bank<br />Account</th>
			<th>Budget</th>
			<th>Item</th>
			<th>Edited?</th>
			<th class="nosort"></th>
		</tr>
	</thead>

	<tbody>
		@foreach (var item in Model)
		{
		<tr>
			<td>@item.Description</td>
			<td style="text-align: right;">@item.TransactionAmount.ToString("C")</td>
			<td>@item.BankAccount.AccountName</td>
			<td>@item.BudgetItem.Budget.BudgetName</td>
			<td>@item.BudgetItem.ItemName</td>
			<td style="text-align: right;">
				@if (@item.Reconciled == true)
				{
				<i class="fa fa-check"></i>
				}
				else
				{
				<span>&nbsp;</span>
				}
			</td>
			<td style="text-align: center;">
				@Ajax.ActionLink(" ", "CreateEditTransactionForm", new { id = item.Id }, new AjaxOptions() { HttpMethod = "POST", UpdateTargetId = "transactionToEdit", LoadingElementId = "loadingIcon", OnComplete = "showTransactionEditModal" }, new { @class = "fa fa-pencil m-l-5", style = "color: #10c469;" })
				@*<a href="javascript:void(0)"><i class="fa fa-pencil m-r-10" style="color: #10c469;"></i></a>*@
				@Ajax.ActionLink(" ", "ConfirmTransactionDelete", new { id = item.Id }, new AjaxOptions() { HttpMethod = "POST", UpdateTargetId = "transactionToDelete", LoadingElementId = "loadingIcon", OnComplete = "confirmTransactionDelete" }, new { @class = "fa fa-trash-o m-l-5", style = "color: #10c469;" })
			</td>
		</tr>
		}
	</tbody>
</table>
<script type="text/javascript">
	$('#datatable-transactions').DataTable({
		responsive: true,
		'columnDefs': [{
			'targets': 'nosort',
			'orderable': false
		}]
	});
</script>
