@model IEnumerable<BudgetApp.Models.Transaction>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.BankAccount.AccountDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BudgetItemType.ItemType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EnteredBy.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateCreated)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TransactionAmount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Reconciled)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReconciledAmount)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.BankAccount.AccountDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BudgetItemType.ItemType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EnteredBy.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateCreated)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TransactionAmount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Reconciled)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ReconciledAmount)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
