@model IEnumerable<BudgetApp.Models.Notification>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Recipient.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sender.HouseholdName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateSent)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NotificationReason)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NotificationContent)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Archived)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Recipient.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sender.HouseholdName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateSent)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NotificationReason)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NotificationContent)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Archived)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
