@model BudgetApp.Models.Household
@using BudgetApp.Helpers
@{
    ViewBag.Title = "Details";
	var householdHelper = new HouseholdHelper();
	var userHelper = new UserHelper();
}

<h2>Details</h2>

<div>
    <h4>Household</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.HouseholdName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HouseholdName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Active)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Active)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateCreated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateCreated)
        </dd>

		<dt>
			@Html.DisplayName("Household Members")
		</dt>

		<dd>@{
			var membersList = householdHelper.ListHouseholdMembers(Model.Id);
			foreach (var member in membersList)
			{
			<p>@member.FirstName | @userHelper.GetCurrentUserRole(member.Id)</p><br />
			}
		}
		</dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
